%h1 Listing tables

%table
  %tr
    %th Seats
    %th Venue
    %th Appointment
    %th
    %th
    %th

  - @tables.each do |table|
    %tr
      %td= table.seats
      %td= table.venue_id
      %td= table.appointment_id
      %td= link_to 'Show', table
      %td= link_to 'Edit', edit_table_path(table)
      %td= link_to 'Destroy', table, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Table', new_table_path
