%h1 Listing timeslots

%table
  %tr
    %th Hour
    %th Appointment
    %th Table
    %th
    %th
    %th

  - @timeslots.each do |timeslot|
    %tr
      %td= timeslot.hour
      %td= timeslot.appointment
      %td= timeslot.table
      %td= link_to 'Show', timeslot
      %td= link_to 'Edit', edit_timeslot_path(timeslot)
      %td= link_to 'Destroy', timeslot, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Timeslot', new_timeslot_path
